## Getting the dataset from csv file

Imports

In [18]:
import io
import numpy as np
import pandas as pd
import math

Create dataframe from CSV file

In [ ]:
df = pd.read_csv(r'FoDS-Assignment-2.csv')
df = df.sample(frac = 1)
df.to_csv('FoDS-Assignment-2_Shuffled.csv')
df

      bedrooms  bathrooms  sqft_living  ...  sqft_living15  sqft_lot15      price
411          3       2.00       1940.0  ...           1730        4640   651000.0
197          5       2.75       3300.0  ...           3150        8580  1110000.0
944          2       1.00       1480.0  ...           1290        7509   331000.0
179          4       2.00       2290.0  ...           2000        3150   685000.0
1003         6       2.75       2730.0  ...           2090        5000   733000.0
...        ...        ...          ...  ...            ...         ...        ...
974          4       2.50       1940.0  ...           1850        5705   322500.0
338          3       1.75       1680.0  ...           1730        9686   265000.0
587          5       1.75       2220.0  ...           1550        1715   607500.0
1173         3       1.75       1460.0  ...           1920        7980   290000.0
517          3       1.75       1300.0  ...           1400        9600   242000.0

[1188 rows x 14 columns]

## Pre-processing

Handling missing data

In [ ]:
null_counts = df.isnull().sum()
null_counts.drop([index for index in null_counts.index if null_counts[index] == 0], inplace=True)
print("The features having missing data and number of empty rows:\n")
print(null_counts)
print("---")

index_list = []
for feature in null_counts.index:
  index_list.append(df[df[feature].isnull()].index)

print(index_list)

# print the specific rows of df with NaN values for each feature
for index in index_list:
  print(df.loc[index].to_string())

df.fillna(df.mean(skipna=True, numeric_only=True), inplace=True)

# print the specific rows of df after replacing NaN values for each feature
for index in index_list:
  print(df.loc[index].to_string())

The features having missing data and number of empty rows:

sqft_living    14
floors         13
sqft_above     14
dtype: int64
---
[Int64Index([145, 838, 85, 906, 62, 958, 316, 153, 380, 551, 408, 34, 782, 828], dtype='int64'), Int64Index([179, 223, 725, 665, 185, 72, 345, 102, 392, 620, 100, 476, 559], dtype='int64'), Int64Index([31, 335, 323, 337, 248, 1154, 752, 748, 1125, 321, 1024, 794, 690,
            173],
           dtype='int64')]
     bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  sqft_living15  sqft_lot15     price
145         4       4.00          NaN      7221     2.0           0     0          3     10      3010.0              0           3490        7518  765000.0
838         3       2.25          NaN      3500     1.5           0     0          5      8      1540.0            300           1800        3300  785200.0
85          4       2.50          NaN      7930     2.0           0     0          3      8      2460.0              0           1850        9000  730000.0
906         4       2.50          NaN      2617     1.5           0     0          4      7      1250.0            700           1520        1438  519000.0
62          4       2.25          NaN     14237     2.0           0     0          3      9      3440.0              0           3250       18365  725000.0
958         3       1.00          NaN     39150     1.5           0     0          3      6      1580.0            400           1860       11811  308000.0
316         4       1.00          NaN     37238     1.5           0     0          4      7      1740.0              0           1810       18352  470000.0
153         4       2.50          NaN      4950     2.0           0     0          3      8      2900.0              0           2590        4950  520000.0
380         4       1.75          NaN      2788     1.0           0     0          4      6       890.0            890           1760        5664  442900.0
551         2       1.00          NaN      3700     1.0           0     0          3      6       800.0            200           1270        5000  257000.0
408         3       2.50          NaN     12753     2.0           0     0          3      7      2370.0              0           2280       16808  499950.0
34          4       1.50          NaN      3300     1.5           0     0          4      8      1530.0            500           2610        5400  750000.0
782         3       2.00          NaN     13418     1.0           0     0          3      8      1430.0            870           2140        9380  610000.0
828         4       2.75          NaN     11900     1.0           0     3          4      9      1640.0           1200           2790       10070  790000.0
     bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  sqft_living15  sqft_lot15      price
179         4       2.00       2290.0      6000     NaN           0     3          5      7      2290.0              0           2000        3150   685000.0
223         3       2.00       1960.0      8846     NaN           0     3          4      6       980.0            980           2190        6363   360000.0
725         3       2.50       1670.0      3565     NaN           0     0          3      7      1670.0              0           1510        3770   373000.0
665         2       2.50       2540.0      7089     NaN           0     0          3      9      2540.0              0           1330        7089   945000.0
185         2       1.00        790.0      7500     NaN           0     0          3      7       790.0              0           1560        7794   130000.0
72          6       2.75       3500.0      5150     NaN           0     0          5      8      2430.0           1070           1430        3860   865000.0
345         4       2.50       3130.0     60467     NaN           0     0          3      9      3130.0              0           2780       44224   685530.0
102         3       2.50       1470.0      4675     NaN           0     0          3      7      1470.0              0           1500        4385   339900.0
392         3       1.75       1950.0     17400     NaN           0     0          3      7      1210.0            740           1900       17250   484000.0
620         5       2.50       2710.0     14989     NaN           0     0          3      8      1720.0            990           3180       16624  1190000.0
100         5       2.00       2290.0      7125     NaN           0     0          3      7      1190.0           1100           1460        7920   580000.0
476         3       2.00        720.0      7598     NaN           0     0          5      6       720.0              0           1080        7209   300000.0
559         4       2.50       1770.0     13168     NaN           0     0          3      7      1770.0              0           2050       14859   455000.0
      bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  sqft_living15  sqft_lot15      price
31           4       3.50       3010.0      3600     2.0           0     0          3      9         NaN            640           2650        4200  1280000.0
335          4       1.00       1760.0      8906     1.0           0     0          3      7         NaN            530           1180       10407   365000.0
323          4       2.25       1960.0     14834     1.0           0     0          4      8         NaN            630           1540       15000   474000.0
337          3       2.25       1560.0      8570     1.0           0     0          5      7         NaN            480           2660        9621  1100000.0
248          5       2.25       3210.0     61419     1.5           0     0          3      8         NaN              0           2820       48351   696500.0
1154         3       2.25       1780.0      7280     1.0           0     2          3      7         NaN            440           2060        7280   449500.0
752          3       1.50       2240.0      3800     2.0           0     0          3      8         NaN            870           1690        4275   510000.0
748          6       4.50       4800.0      9097     2.0           0     0          3     10         NaN           1220           2180        6037  1980000.0
1125         5       2.25       2890.0     12478     2.0           0     0          3      9         NaN              0           2570       11880   598000.0
321          4       2.00       2660.0      8160     1.0           0     0          4      7         NaN           1280           1660        8160   635000.0
1024         4       3.50       2340.0      2810     2.0           0     2          3      8         NaN            610           2600        2843   735000.0
794          3       2.50       2860.0      4442     2.0           0     0          3      8         NaN              0           1440        4400   799000.0
690          4       3.00       2620.0     35124     2.0           0     0          3      9         NaN              0           2920       35807   443000.0
173          5       6.00       7120.0     40806     2.0           0     4          3     12         NaN           1640           3440       36859   900000.0
     bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  sqft_living15  sqft_lot15     price
145         4       4.00  2124.656729      7221     2.0           0     0          3     10      3010.0              0           3490        7518  765000.0
838         3       2.25  2124.656729      3500     1.5           0     0          5      8      1540.0            300           1800        3300  785200.0
85          4       2.50  2124.656729      7930     2.0           0     0          3      8      2460.0              0           1850        9000  730000.0
906         4       2.50  2124.656729      2617     1.5           0     0          4      7      1250.0            700           1520        1438  519000.0
62          4       2.25  2124.656729     14237     2.0           0     0          3      9      3440.0              0           3250       18365  725000.0
958         3       1.00  2124.656729     39150     1.5           0     0          3      6      1580.0            400           1860       11811  308000.0
316         4       1.00  2124.656729     37238     1.5           0     0          4      7      1740.0              0           1810       18352  470000.0
153         4       2.50  2124.656729      4950     2.0           0     0          3      8      2900.0              0           2590        4950  520000.0
380         4       1.75  2124.656729      2788     1.0           0     0          4      6       890.0            890           1760        5664  442900.0
551         2       1.00  2124.656729      3700     1.0           0     0          3      6       800.0            200           1270        5000  257000.0
408         3       2.50  2124.656729     12753     2.0           0     0          3      7      2370.0              0           2280       16808  499950.0
34          4       1.50  2124.656729      3300     1.5           0     0          4      8      1530.0            500           2610        5400  750000.0
782         3       2.00  2124.656729     13418     1.0           0     0          3      8      1430.0            870           2140        9380  610000.0
828         4       2.75  2124.656729     11900     1.0           0     3          4      9      1640.0           1200           2790       10070  790000.0
     bedrooms  bathrooms  sqft_living  sqft_lot    floors  waterfront  view  condition  grade  sqft_above  sqft_basement  sqft_living15  sqft_lot15      price
179         4       2.00       2290.0      6000  1.509787           0     3          5      7      2290.0              0           2000        3150   685000.0
223         3       2.00       1960.0      8846  1.509787           0     3          4      6       980.0            980           2190        6363   360000.0
725         3       2.50       1670.0      3565  1.509787           0     0          3      7      1670.0              0           1510        3770   373000.0
665         2       2.50       2540.0      7089  1.509787           0     0          3      9      2540.0              0           1330        7089   945000.0
185         2       1.00        790.0      7500  1.509787           0     0          3      7       790.0              0           1560        7794   130000.0
72          6       2.75       3500.0      5150  1.509787           0     0          5      8      2430.0           1070           1430        3860   865000.0
345         4       2.50       3130.0     60467  1.509787           0     0          3      9      3130.0              0           2780       44224   685530.0
102         3       2.50       1470.0      4675  1.509787           0     0          3      7      1470.0              0           1500        4385   339900.0
392         3       1.75       1950.0     17400  1.509787           0     0          3      7      1210.0            740           1900       17250   484000.0
620         5       2.50       2710.0     14989  1.509787           0     0          3      8      1720.0            990           3180       16624  1190000.0
100         5       2.00       2290.0      7125  1.509787           0     0          3      7      1190.0           1100           1460        7920   580000.0
476         3       2.00        720.0      7598  1.509787           0     0          5      6       720.0              0           1080        7209   300000.0
559         4       2.50       1770.0     13168  1.509787           0     0          3      7      1770.0              0           2050       14859   455000.0
      bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade   sqft_above  sqft_basement  sqft_living15  sqft_lot15      price
31           4       3.50       3010.0      3600     2.0           0     0          3      9  1815.946337            640           2650        4200  1280000.0
335          4       1.00       1760.0      8906     1.0           0     0          3      7  1815.946337            530           1180       10407   365000.0
323          4       2.25       1960.0     14834     1.0           0     0          4      8  1815.946337            630           1540       15000   474000.0
337          3       2.25       1560.0      8570     1.0           0     0          5      7  1815.946337            480           2660        9621  1100000.0
248          5       2.25       3210.0     61419     1.5           0     0          3      8  1815.946337              0           2820       48351   696500.0
1154         3       2.25       1780.0      7280     1.0           0     2          3      7  1815.946337            440           2060        7280   449500.0
752          3       1.50       2240.0      3800     2.0           0     0          3      8  1815.946337            870           1690        4275   510000.0
748          6       4.50       4800.0      9097     2.0           0     0          3     10  1815.946337           1220           2180        6037  1980000.0
1125         5       2.25       2890.0     12478     2.0           0     0          3      9  1815.946337              0           2570       11880   598000.0
321          4       2.00       2660.0      8160     1.0           0     0          4      7  1815.946337           1280           1660        8160   635000.0
1024         4       3.50       2340.0      2810     2.0           0     2          3      8  1815.946337            610           2600        2843   735000.0
794          3       2.50       2860.0      4442     2.0           0     0          3      8  1815.946337              0           1440        4400   799000.0
690          4       3.00       2620.0     35124     2.0           0     0          3      9  1815.946337              0           2920       35807   443000.0
173          5       6.00       7120.0     40806     2.0           0     4          3     12  1815.946337           1640           3440       36859   900000.0

Normalisation

In [ ]:
df=(df-df.mean())/df.std()
df

      bedrooms  bathrooms  sqft_living  ...  sqft_living15  sqft_lot15     price
411  -0.411804  -0.183538    -0.192788  ...      -0.421707   -0.306532  0.255831
197   1.738628   0.778415     1.227097  ...       1.648058   -0.160138  1.446861
944  -1.487021  -1.466142    -0.673043  ...      -1.063043   -0.199932 -0.574517
179   0.663412  -0.183538     0.172624  ...      -0.028160   -0.361894  0.344055
1003  2.813845   0.778415     0.631998  ...       0.103022   -0.293156  0.468608
...        ...        ...          ...  ...            ...         ...       ...
974   0.663412   0.457764    -0.192788  ...      -0.246797   -0.266961 -0.596573
338  -0.411804  -0.504189    -0.464236  ...      -0.421707   -0.119044 -0.745777
587   1.738628  -0.504189     0.099541  ...      -0.684072   -0.415213  0.142955
1173 -0.411804  -0.504189    -0.693923  ...      -0.144767   -0.182432 -0.680906
517  -0.411804  -0.504189    -0.860969  ...      -0.902709   -0.122240 -0.805458

[1188 rows x 14 columns]

Test-train splitting: 70-30

In [ ]:
train_data = df.iloc[:833]
test_data = df.iloc[833:]

train_data = train_data.to_numpy()
test_data = test_data.to_numpy()

## Model

Input for the model

In [ ]:
def input_function():
  number_of_features = int(input("Enter number of features in dataset: "))
  n = int(input("Enter number of iterations in Gradient Descent: "))
  eta = float(input("Enter the learning rate(eta): "))
  return (n, eta, number_of_features)

Linear Regression with Gradient Descent

In [ ]:
def gradientDescent(index_array, no_of_iterations, eta):
  data_train = np.concatenate((np.ones(train_data.shape[0], dtype=np.float64).reshape(-1,1), train_data[:, index_array], (-1)*(train_data[:, [-1]])), axis = 1)
  data_test = np.concatenate((np.ones(test_data.shape[0], dtype=np.float64).reshape(-1,1), test_data[:, index_array], (-1)*(test_data[:, [-1]])), axis = 1)
  n_coeffs = 1 + len(index_array)
  coefficients = np.ones(n_coeffs+1).reshape(-1,1) # Initializing coefficient matrix
  coefficients[n_coeffs] = 1 # To consider the pressure value

  for _ in range(no_of_iterations):      
    # Matrix Multiplying coeffcients with data points
    intermediate_matrix = data_train.dot(coefficients)
    slope = np.zeros(n_coeffs)
    j = 0
    while(j < n_coeffs):
        slope[j] = float((intermediate_matrix*data_train[:, [j]]).sum())
        j = j+1
    slope = slope.reshape(-1,1) # Making it a column
    coefficients[:-1, :] = coefficients[:-1, :] - (eta)*slope # Gradient Descent Formula

  train_error_intermediate = data_train.dot(coefficients)
  train_error_intermediate = train_error_intermediate * train_error_intermediate
  training_error = train_error_intermediate.sum()
  test_error_intermediate = data_test.dot(coefficients)
  test_error_intermediate = test_error_intermediate * test_error_intermediate
  testing_error = test_error_intermediate.sum()
  return (training_error, testing_error)

## Linear Regression model without an pre-processing and feature selection

In [20]:
df_raw = pd.read_csv(r'FoDS-Assignment-2.csv')
df_raw = df_raw.sample(frac = 1)

train_data_raw = df_raw.iloc[:833]
test_data_raw = df_raw.iloc[833:]

train_data_raw = train_data_raw.to_numpy()
test_data_raw = test_data_raw.to_numpy()

def raw_gradientDescent(index_array, no_of_iterations, eta):
  data_train = np.concatenate((np.ones(train_data_raw.shape[0], dtype=np.float64).reshape(-1,1), train_data_raw[:, index_array], (-1)*(train_data_raw[:, [-1]])), axis = 1)
  data_test = np.concatenate((np.ones(test_data_raw.shape[0], dtype=np.float64).reshape(-1,1), test_data_raw[:, index_array], (-1)*(test_data_raw[:, [-1]])), axis = 1)
  n_coeffs = 1 + len(index_array)
  coefficients = np.ones(n_coeffs+1).reshape(-1,1) # Initializing coefficient matrix
  coefficients[n_coeffs] = 1 # To consider the pressure value

  for _ in range(no_of_iterations):      
    # Matrix Multiplying coeffcients with data points
    intermediate_matrix = data_train.dot(coefficients)
    slope = np.zeros(n_coeffs)
    j = 0
    while(j < n_coeffs):
        slope[j] = float((intermediate_matrix*data_train[:, [j]]).sum())
        j = j+1
    slope = slope.reshape(-1,1) # Making it a column
    coefficients[:-1, :] = coefficients[:-1, :] - (eta)*slope # Gradient Descent Formula

  train_error_intermediate = data_train.dot(coefficients)
  train_error_intermediate = train_error_intermediate * train_error_intermediate
  training_error = train_error_intermediate.sum()
  test_error_intermediate = data_test.dot(coefficients)
  test_error_intermediate = test_error_intermediate * test_error_intermediate
  testing_error = test_error_intermediate.sum()
  return (training_error, testing_error)

number_of_iterations, eta, number_of_features = input_function()
raw_result = raw_gradientDescent(list(range(number_of_features)), number_of_iterations, eta)

print('The training error and testing error respectively for raw Linear Regression without any pre-processing and feature selection:\n')
print(raw_result)

Enter number of features in dataset: 13
Enter number of iterations in Gradient Descent: 10000
Enter the learning rate(eta): 0.00000000000001
The training error and testing error respectively for raw Linear Regression without any pre-processing and feature selection:

(nan, nan)

## Greedy algorithms for feature selection

Forward feature selection

In [ ]:
def forwardFeatureSelection():
  number_of_iterations, eta, number_of_features = input_function()
  final_pair = [[], math.inf, math.inf]
  previous_pair = [[], math.inf]
  for i in range(number_of_features):
    current_pair = [[], math.inf]
    train_error = 0
    for j in [k for k in range(number_of_features) if k not in previous_pair[0]]:
      current_indices = [*(previous_pair[0]), j]
      temp_train_error, error = gradientDescent(current_indices, number_of_iterations, eta)
      print(current_indices, error)
      if error < current_pair[1]:
        current_pair = [current_indices, error]
        train_error = temp_train_error
      
    if current_pair[1] < final_pair[1]:
      final_pair = [*current_pair, train_error]
    previous_pair = current_pair
  return final_pair

Subset of features that provide optimal model for forward feature selection and the error when trained with only that subset of features

In [ ]:
forward_result = forwardFeatureSelection()
print("The features which give optimal model with forward feature selection, testing error and training error for those features:\n")
print(df.columns[forward_result[0]], forward_result[1:])

Enter number of features in dataset: 13
Enter number of iterations in Gradient Descent: 200000
Enter the learning rate(eta): 0.0004
[0] 247.48491325631892
[1] 220.31567619300003
[2] 139.83543812933146
[3] 270.1433522903684
[4] 240.5967901576069
[5] 242.309824393491
[6] 203.86062513977117
[7] 264.22906593754664
[8] 154.61224057543677
[9] 171.79569605486606
[10] 235.37039950385793
[11] 176.93456968007058
[12] 262.6862286434039
[2, 0] 136.76369643062185
[2, 1] 140.76165911615516
[2, 3] 146.0205190564227
[2, 4] 140.19842391372214
[2, 5] 133.81534606460593
[2, 6] 122.50121960071979
[2, 7] 137.99875622080322
[2, 8] 134.69379799120475
[2, 9] 139.88879273945582
[2, 10] 139.63148436973063
[2, 11] 139.09363239287052
[2, 12] 142.29329074672282
[2, 6, 0] 121.9860338926803
[2, 6, 1] 123.74918234863335
[2, 6, 3] 126.5040796369599
[2, 6, 4] 122.47443733522027
[2, 6, 5] 122.86536866490206
[2, 6, 7] 121.56997308043682
[2, 6, 8] 118.46084933286274
[2, 6, 9] 121.67859936136311
[2, 6, 10] 122.68984028713179
[2, 6, 11] 122.2803108774563
[2, 6, 12] 123.98989554915161
[2, 6, 8, 0] 117.80202991856075
[2, 6, 8, 1] 117.47145973069848
[2, 6, 8, 3] 123.34356884485993
[2, 6, 8, 4] 121.21575454679788
[2, 6, 8, 5] 116.69041252206226
[2, 6, 8, 7] 114.8396367850006
[2, 6, 8, 9] 120.20691517473675
[2, 6, 8, 10] 117.83743000023699
[2, 6, 8, 11] 118.78559872479161
[2, 6, 8, 12] 120.19351722225589
[2, 6, 8, 7, 0] 113.75629011662213
[2, 6, 8, 7, 1] 114.04995101713119
[2, 6, 8, 7, 3] 119.87469512229248
[2, 6, 8, 7, 4] 117.94673083576211
[2, 6, 8, 7, 5] 112.49417892904654
[2, 6, 8, 7, 9] 116.38497426703495
[2, 6, 8, 7, 10] 114.67032978560476
[2, 6, 8, 7, 11] 115.20910532462719
[2, 6, 8, 7, 12] 116.50446534214905
[2, 6, 8, 7, 5, 0] 113.00252024298325
[2, 6, 8, 7, 5, 1] 111.67621499121846
[2, 6, 8, 7, 5, 3] 117.5732366885116
[2, 6, 8, 7, 5, 4] 115.17434060633839
[2, 6, 8, 7, 5, 9] 113.76868419601475
[2, 6, 8, 7, 5, 10] 112.00957884403036
[2, 6, 8, 7, 5, 11] 113.34601352268103
[2, 6, 8, 7, 5, 12] 114.36896600456024
[2, 6, 8, 7, 5, 1, 0] 113.27227815035064
[2, 6, 8, 7, 5, 1, 3] 116.75791832554037
[2, 6, 8, 7, 5, 1, 4] 115.42997107718833
[2, 6, 8, 7, 5, 1, 9] 113.01365615019779
[2, 6, 8, 7, 5, 1, 10] 111.28671508567555
[2, 6, 8, 7, 5, 1, 11] 112.42612095227753
[2, 6, 8, 7, 5, 1, 12] 113.3180916597345
[2, 6, 8, 7, 5, 1, 10, 0] 112.63519105772335
[2, 6, 8, 7, 5, 1, 10, 3] 116.2351385643376
[2, 6, 8, 7, 5, 1, 10, 4] 115.20578025575097
[2, 6, 8, 7, 5, 1, 10, 9] 113.44664938502919
[2, 6, 8, 7, 5, 1, 10, 11] 112.14234019716005
[2, 6, 8, 7, 5, 1, 10, 12] 113.01897909676993
[2, 6, 8, 7, 5, 1, 10, 11, 0] 113.0464044557643
[2, 6, 8, 7, 5, 1, 10, 11, 3] 117.66497637268725
[2, 6, 8, 7, 5, 1, 10, 11, 4] 116.76933999042596
[2, 6, 8, 7, 5, 1, 10, 11, 9] 113.3800664252568
[2, 6, 8, 7, 5, 1, 10, 11, 12] 113.93266360851007
[2, 6, 8, 7, 5, 1, 10, 11, 0, 3] 119.91158942219917
[2, 6, 8, 7, 5, 1, 10, 11, 0, 4] 117.9436611647313
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9] 114.72300773677571
[2, 6, 8, 7, 5, 1, 10, 11, 0, 12] 115.38043319065656
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9, 3] 121.51859438525761
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9, 4] 119.45145768797197
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9, 12] 117.05653270097531
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9, 12, 3] 119.32679536527024
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9, 12, 4] 123.02728441083579
[2, 6, 8, 7, 5, 1, 10, 11, 0, 9, 12, 3, 4] 126.21231664425838
The features which give optimal model with forward feature selection, testing error and training error for those features:

Index(['sqft_living', 'view', 'grade', 'condition', 'waterfront', 'bathrooms',
       'sqft_basement'],
      dtype='object') [111.28671508567555, 381.18795120943594]

Backward feature selection

In [ ]:
def backwardFeatureSelection():
  number_of_iterations, eta, number_of_features = input_function()
  final_pair = [[], math.inf, math.inf]
  previous_pair = [list(range(number_of_features)), math.inf]
  train_error, previous_pair[1] = gradientDescent(previous_pair[0], number_of_iterations, eta)
  final_pair = [*previous_pair, train_error]

  print(previous_pair)
  for i in range(number_of_features):
    current_pair = [[], math.inf]
    train_error = 0
    for j in previous_pair[0]:
      current_indices = previous_pair[0].copy()
      current_indices.remove(j)
      temp_train_error, error = gradientDescent(current_indices, number_of_iterations, eta)
      print(current_indices, error)
      if error < current_pair[1]:
        current_pair = [current_indices, error]
        train_error = temp_train_error
    if current_pair[1] < final_pair[1]:
      final_pair = [*current_pair, train_error]
    previous_pair = current_pair
  return final_pair

Subset of features that provide optimal model for backward feature selection and the errors when trained with only that subset of features

In [ ]:
backward_result = backwardFeatureSelection()
print("The features which give optimal model with backward feature selection, testing error and training error for those features:\n")
print(df.columns[backward_result[0]], backward_result[1:])

Enter number of features in dataset: 13
Enter number of iterations in Gradient Descent: 10000
Enter the learning rate(eta): 0.0004
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 126.21231664423951]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 123.32316736817245
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 124.26709692450919
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 110.78358521396407
[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12] 123.02728441081732
[0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12] 119.32679536525264
[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12] 126.82278551812465
[0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12] 133.03632426103957
[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12] 129.75308384271298
[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12] 130.66631610778603
[0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12] 124.76990444444718
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12] 123.57491675137474
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12] 125.49493286247625
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] 128.1410566374664
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 110.38709070198917
[0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 108.7723017270072
[0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12] 108.21861259301487
[0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12] 104.77175561525841
[0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12] 111.67296849916642
[0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 12] 120.0723593646196
[0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12] 114.22385507517306
[0, 1, 3, 4, 5, 6, 7, 9, 10, 11, 12] 115.79745930813985
[0, 1, 3, 4, 5, 6, 7, 8, 10, 11, 12] 121.89777133316828
[0, 1, 3, 4, 5, 6, 7, 8, 9, 11, 12] 133.6318216861508
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 12] 110.08261984175545
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11] 112.63618082014307
[1, 3, 5, 6, 7, 8, 9, 10, 11, 12] 104.72926756485202
[0, 3, 5, 6, 7, 8, 9, 10, 11, 12] 104.50768207302815
[0, 1, 5, 6, 7, 8, 9, 10, 11, 12] 102.99667442765994
[0, 1, 3, 6, 7, 8, 9, 10, 11, 12] 105.58113402384076
[0, 1, 3, 5, 7, 8, 9, 10, 11, 12] 114.43585254961563
[0, 1, 3, 5, 6, 8, 9, 10, 11, 12] 108.1577343890831
[0, 1, 3, 5, 6, 7, 9, 10, 11, 12] 112.40302018628581
[0, 1, 3, 5, 6, 7, 8, 10, 11, 12] 119.59076217911341
[0, 1, 3, 5, 6, 7, 8, 9, 11, 12] 121.87191841121493
[0, 1, 3, 5, 6, 7, 8, 9, 10, 12] 104.59782788883643
[0, 1, 3, 5, 6, 7, 8, 9, 10, 11] 106.83421231101792
[1, 5, 6, 7, 8, 9, 10, 11, 12] 103.26135042397073
[0, 5, 6, 7, 8, 9, 10, 11, 12] 102.66773015714452
[0, 1, 6, 7, 8, 9, 10, 11, 12] 103.80795323537501
[0, 1, 5, 7, 8, 9, 10, 11, 12] 112.25903231407243
[0, 1, 5, 6, 8, 9, 10, 11, 12] 106.43313297961498
[0, 1, 5, 6, 7, 9, 10, 11, 12] 111.39884650899276
[0, 1, 5, 6, 7, 8, 10, 11, 12] 120.83767902392216
[0, 1, 5, 6, 7, 8, 9, 11, 12] 121.36882730743481
[0, 1, 5, 6, 7, 8, 9, 10, 12] 103.14615193628379
[0, 1, 5, 6, 7, 8, 9, 10, 11] 100.99262202490604
[1, 5, 6, 7, 8, 9, 10, 11] 101.66699557111008
[0, 5, 6, 7, 8, 9, 10, 11] 100.45923318577837
[0, 1, 6, 7, 8, 9, 10, 11] 102.01903121901151
[0, 1, 5, 7, 8, 9, 10, 11] 109.39408788927275
[0, 1, 5, 6, 8, 9, 10, 11] 104.3530656874344
[0, 1, 5, 6, 7, 9, 10, 11] 109.95255783802105
[0, 1, 5, 6, 7, 8, 10, 11] 120.16382533349707
[0, 1, 5, 6, 7, 8, 9, 11] 119.98257732817001
[0, 1, 5, 6, 7, 8, 9, 10] 101.31691521277105
[5, 6, 7, 8, 9, 10, 11] 102.14962739112232
[0, 6, 7, 8, 9, 10, 11] 101.51071526725158
[0, 5, 7, 8, 9, 10, 11] 109.13068962314134
[0, 5, 6, 8, 9, 10, 11] 103.93566336940222
[0, 5, 6, 7, 9, 10, 11] 108.28129014052567
[0, 5, 6, 7, 8, 10, 11] 112.73145550000788
[0, 5, 6, 7, 8, 9, 11] 113.29925190743738
[0, 5, 6, 7, 8, 9, 10] 100.67147948842188
[5, 6, 7, 8, 9, 10] 102.08938125421466
[0, 6, 7, 8, 9, 10] 102.07131162294817
[0, 5, 7, 8, 9, 10] 109.09223448802896
[0, 5, 6, 8, 9, 10] 104.15229978080646
[0, 5, 6, 7, 9, 10] 108.38123493069327
[0, 5, 6, 7, 8, 10] 116.08358061094403
[0, 5, 6, 7, 8, 9] 113.37838632502498
[6, 7, 8, 9, 10] 104.86998902007778
[0, 7, 8, 9, 10] 115.24085975541072
[0, 6, 8, 9, 10] 105.26898829985794
[0, 6, 7, 9, 10] 106.8769028018271
[0, 6, 7, 8, 10] 123.65647313142523
[0, 6, 7, 8, 9] 115.62670850066695
[7, 8, 9, 10] 120.12426277023692
[6, 8, 9, 10] 107.78337475610488
[6, 7, 9, 10] 109.45685261072606
[6, 7, 8, 10] 123.1067237348219
[6, 7, 8, 9] 115.48795761155706
[8, 9, 10] 123.75579261339524
[6, 9, 10] 110.40220033444515
[6, 8, 10] 126.75416801939318
[6, 8, 9] 121.0307955839041
[9, 10] 129.82229943826036
[6, 10] 195.94350986764812
[6, 9] 131.89990085402084
[10] 235.37039950385793
[9] 171.79569605486606
[] 264.07522435529444
The features which give optimal model with backward feature selection, testing error and training error for those features:

Index(['bedrooms', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'sqft_living15'],
      dtype='object') [100.45923318577837, 378.24273668009425]